<div class="container p-4">
    <div class="mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Nuevo Cliente</h3>
            </div>
            <div class="card-body">
                <form action="/clients" method="POST" autocomplete="nope">
                    <dl class="form-group">
                        <dt>Nombre completo del cliente</dt>
                        <dd>
                            <input type="text" name="fullName" placeholder="Nombre Completo" class="form-control"
                                   autofocus required value="{{fullName}}">
                        </dd>
                        <dt>Tipo de documento</dt>
                        <dd>
                            <select name="documentType" class="custom-select" required>
                                {{#each documentTypes}}
                                    <option value="{{id}}" {{ selectedOption id ../documentType }}>{{shortName}} - {{name}}</option>
                                {{/each}}
                            </select>
                        </dd>
                        <dt>Número de documento</dt>
                        <dd>
                            <input type="text" name="documentNumber" placeholder="1234567" class="form-control"
                                   autocomplete="false" required value="{{documentNumber}}">
                        </dd>
                        <dt>Nickname</dt>
                        <dd>
                            <input type="text" name="username" placeholder="Nickname" class="form-control"
                                   autocomplete="false" required value="{{username}}">
                        </dd>
                        <dt>Contraseña</dt>
                        <dd>
                            <input type="password" name="password" class="form-control" placeholder="Contraseña"
                                   autocomplete="new-password" required value="{{password}}">
                        </dd>
                        <dt>Teléfono</dt>
                        <dd>
                            <input type="text" name="phoneNumber" placeholder="0987654321" class="form-control"
                                   autocomplete="false" required value="{{username}}">
                        </dd>
                        <dt>RUC</dt>
                        <dd>
                            <input type="text" name="ruc" placeholder="54321-0" class="form-control"
                                   autocomplete="false" required value="{{username}}">
                        </dd>
                        <dt>Correo</dt>
                        <dd>
                            <input type="text" name="email" placeholder="abc@abc.com" class="form-control"
                                   autocomplete="false" required value="{{username}}">
                        </dd>
                        <dd>
                            {{> formButtons}}
                        </dd>
                    </dl>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/lib/js/validator.js"></script>