<div class="container p-4">
    <div class="mx-auto">
        <div class="card">
            <div class="card-header">
                {{#unless wo}}
                    <h3>Nueva Orden de Trabajo</h3>
                {{else}}
                    <h3>Editando orden de Trabajo #{{wo.id}}</h3>
                    <div class="comment-by">Agregado el {{dateFormatter wo.createdAt "DD/MM/YYYY HH:mm"}}</div>
                {{/unless}}
            </div>
            <div class="card-body">
                <form action="/work-orders/{{wo.id}}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Sucursal</label>
                                <select name="workShopBranchId" class="custom-select" required>
                                    {{#each branches}}
                                        <option value="{{id}}" {{ selectedOption id
                                                                                 ../wo.WorkShopBranch.id }}>{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="clientId">Cliente</label>
                                <select name="clientId" class="custom-select">
                                    {{#each clients}}
                                        <option value="{{id}}" {{ selectedOption id
                                                                                 ../wo.Client.id }}>{{User.fullName}} -
                                            CI: {{User.documentNumber}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="vehicleInformation">Datos del Vehículo</label>
                                <input type="text" value="{{wo.vehicleInformation}}" class="form-control"
                                       name="vehicleInformation"
                                       placeholder="Marca/Modelo/Color">
                            </div>
                            <div class="form-group">
                                <label for="assignedToId">Encargado</label>
                                <select name="assignedToId" class="custom-select">
                                    {{#each employees}}
                                        <option value="{{id}}" {{ selectedOption id
                                                                                 ../wo.AssignedTo.id }}>{{fullName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="state">Estado Pedido</label>
                                <select name="state" class="custom-select">
                                    {{#each workOrderStates}}
                                        <option value="{{value}}"  {{ selectedOption value
                                                                                     ../wo.state }}>{{label}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="contactPhone">Teléfono</label>
                                <input type="text" value="{{wo.contactPhone}}" class="form-control" name="contactPhone"
                                       placeholder="098X XXX XXX">
                            </div>
                            <div class="form-group">
                                <label for="vinNumber">VIN N°</label>
                                <input type="text" value="{{wo.vinNumber}}" class="form-control" name="vinNumber"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="fuelStateId">Estado Combustible</label>
                                <select name="fuelStateId" class="custom-select">
                                    {{#each fuelStates}}
                                        <option value="{{id}}"  {{ selectedOption id
                                                                                  ../wo.FuelState.id }}>{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="plate">Chapa N°</label>
                                <input type="text" value="{{wo.plate}}" class="form-control" name="plate"
                                       placeholder="XXXX 999">
                            </div>
                            <div class="form-group">
                                <label for="mileage">mi/km</label>
                                <input type="text" value="{{wo.mileage}}" class="form-control" name="mileage"
                                       placeholder="X00.000 km">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group-full">
                                <label for="description">Descripción del Trabajo</label>
                                <textarea name="description" class="form-control">{{wo.description}}</textarea>
                            </div>
                        </div>
                    </div>
                    {{> work-order/files }}
                    <div class="row">
                        {{> formButtons}}
                    </div>
                </form>
            </div>
        </div>
        {{> work-order/budgetResume}}
        {{> work-order/commentSection}}
        {{> work-order/media}}
    </div>
</div>

<script type="text/javascript">
    function eliminarArchivo(wo, id) {
        if (confirm('¿Esta seguro de que desea eliminar este archivo?' + wo + " " + id))
            location.href = '/work-orders/delete/file/' + wo + '/' + id;
        return false;
    }

    function mostrarImagen(src) {
        let modal = document.getElementById('modal');
        modal.style.display = 'block';
        let img = document.getElementById('image_modal');
        img.setAttribute('src', src);
    }

    function mostrarVideo(src) {
        let modal = document.getElementById('video_modal');
        modal.style.display = 'block';
        let v = document.getElementById('video_modal_i');
        v.setAttribute('src', src);
    }

    function cerrarVideo() {
        document.getElementById('video_modal').style.display = 'none'
        document.getElementById('video_modal_i').setAttribute('src', '');

    }
</script>