<div class="container p-4">
    <div class="mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Ordenes de Trabajo</h3>
            </div>
            <div class="card-body">
                <form action="/work-orders/" method="get">
                    <div class="row">
                        <div class="col-sm-4">
                            <dl>
                                <dt><label for="search">Búsqueda:</label></dt>
                                <dd><input type="text" value="{{filter.search}}" class="form-control" name="search" placeholder="Cliente/Vehiculo"  autofocus></dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            <dl>
                                <dt><label for="assignedTo">Encargado:</label></dt>
                                <dd>
                                    <select name="assignedTo" class="custom-select">
                                        <option value=""></option>
                                        {{#each employees}}
                                            <option value="{{id}}" {{ selectedOption id ../filter.assignedTo }}>{{fullName}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-4">
                            <dl>
                                <dt><label for="status">Estado Pedido:</label></dt>
                                <dd>
                                    <select name="state" class="custom-select">
                                        <option value=""></option>
                                        {{#each workOrderStates}}
                                            <option value="{{value}}"  {{ selectedOption value ../filter.state }}>{{label}}</option>
                                        {{/each}}
                                    </select>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row pb-4">
                        <div class="mx-auto" >
                            <button class="btn btn-success">
                                Filtrar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="pb-3">
                    <button type="button" onclick="location.href='/work-orders/add'" class="btn btn-success">
                        Nueva Orden de Trabajo
                    </button>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Vehículo</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Fecha Ingreso</th>
                            <th scope="col">Encargado</th>
                            <th scope="col">Estado</th>
                        </thead>
                        <tbody>
                            {{#each workOrders}}
                            <tr onclick="location.href='/work-orders/edit/{{id}}'">
                                <td>{{id}}</td>
                                <td>{{Client.User.fullName}}</td>
                                <td>{{vehicleInformation}}</td>
                                <td>{{contactPhone}}</td>
                                <td>{{formatter createdAt "DD/MM/YYYY HH:mm"}}</td>
                                <td>{{AssignedTo.fullName}}</td>
                                <td>{{stateLabel}}</td>
                            </tr>
                            {{else}}
                                {{> noElements}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>