<div class="container p-4">
    <div class="mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <button onclick="location.href='/admin/users/add'" class="btn btn-success">
                        Nuevo Usuario
                    </button>
                </div>
                <table class="table">
                    <thead>
                    <th>Nombre Completo</th>
                    <th>Nickname</th>
                    <th>Rol</th>
                    <th>Creado</th>
                    <th></th>
                    </thead>
                    <tbody>
                    {{#each users}}
                        <tr onclick="editUser({{id}})">
                            <td>{{fullName}}</td>
                            <td>{{username}}</td>
                            <td>{{role.name}}</td>
                            <td>{{timeAgo createdAt}}</td>
                            <td>
                                <button type="button" onclick="deleteUser({{id}});" class="btn btn-danger">
                                    Borrar
                                </button>
                            </td>
                        </tr>
                    {{else}}

                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteUser(id) {
        event.stopPropagation()
        if (confirm('¿Esta seguro de que desea eliminar el usuario?')) {
            location.href = '/admin/users/delete/' + id;
        }
        return false
    }

    function editUser(id) {
        location.href = '/admin/users/' + id;
        return false;
    }
</script>