<div class="container p-4">
    <div class="mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Nuevo Usuario</h3>
            </div>
            <div class="card-body">
                <form action="/admin/users" method="POST" autocomplete="nope">
                    <dl class="form-group">
                        <dt>Nombre completo del usuario</dt>
                        <dd>
                            <input type="text" name="fullName" placeholder="Nombre Completo" class="form-control"
                                   autofocus required value="{{fullName}}">
                        </dd>
                        <dt>Nickname</dt>
                        <dd>
                            <input type="text" name="username" placeholder="Nickname" class="form-control"
                                   autocomplete="false" required value="{{username}}">
                        </dd>
                        <dt>Contraseña</dt>
                        <dd>
                            <input type="password" name="password" class="form-control" placeholder="Contraseña"
                                   autocomplete="new-password" required value="{{password}}">
                        </dd>
                        <dt><label for="role"> Rol</label></dt>
                        <dd>
                            <select name="roleId" class="custom-select" required>
                                {{#each roles}}
                                    <option value="{{id}}" {{ selectedOption id ../role.id }}>{{name}}</option>
                                {{/each}}
                            </select>
                        </dd>
                        <dd>
                            <button class="btn btn-success btn-block">
                                Añadir
                            </button>
                        </dd>
                    </dl>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/validator.js"></script>