<div class="container p-4">
    <div class="mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Nuevo Usuario</h3>
            </div>
            <div class="card-body">
                <form action="/users" method="POST" autocomplete="nope">
                    <div class="form-group">
                        <label>Nombre completo del usuario</label>
                        <input type="text" name="fullName" placeholder="Nombre Completo" class="form-control"
                               autofocus required value="{{fullName}}">
                    </div>
                    <div class="form-group">
                        <label>Tipo de documento</label>
                        <select name="documentType" class="custom-select" required>
                            {{#each documentTypes}}
                                <option value="{{id}}" {{ selectedOption id ../DocumentType }}>{{shortName}}
                                    - {{name}}</option>
                            {{/each}}
                        </select>

                    </div>
                    <div class="form-group">
                        <label>Número de documento</label>
                        <input type="text" name="documentNumber" placeholder="1234567" class="form-control"
                               autocomplete="false" required value="{{documentNumber}}">

                    </div>
                    <div class="form-group">
                        <label>Nickname</label>
                        <input type="text" name="username" placeholder="Nickname" class="form-control"
                               autocomplete="false" required value="{{username}}">

                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" name="password" class="form-control" placeholder="******"
                               autocomplete="false" required value="{{password}}">

                    </div>
                    <div class="form-group">
                        <label>Rol</label>
                            <select name="roleId" class="custom-select" required>
                                {{#each roles}}
                                    <option value="{{id}}" {{ selectedOption id ../Role.id }}>{{name}}</option>
                                {{/each}}
                            </select>
                    </div>
                    {{> formButtons}}
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/lib/js/validator.js"></script>