<div class="container p-4">
    <div class="mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Nuevo Usuario</h3>
            </div>
            <div class="card-body">
                <form action="/users/{{id}}" method="POST" autocomplete="off">
                    <div class="form-group">
                        <label>Nombre completo del usuario</label>
                        <input type="text" name="fullName" placeholder="Nombre Completo" class="form-control"
                               autofocus required value="{{fullName}}">
                    </div>
                    <div class="form-group">
                        <label>Tipo de documento</label>
                        <select name="documentType" class="custom-select" required>
                            {{#each documentTypes}}
                                <option value="{{id}}" {{ selectedOption id ../documentTypeId }}>{{shortName}}
                                    - {{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Número de documento</label>
                        <input type="text" name="documentNumber" placeholder="7654321" class="form-control"
                               autocomplete="false" required value="{{documentNumber}}">
                    </div>
                    <div class="form-group">
                        <label>Nickname</label>
                        <input type="text" name="username" placeholder="Nickname" class="form-control"
                               autocomplete="false" required value="{{username}}">
                    </div>
                    <div class="form-group">
                        <label for="role"> Rol</label>
                        <select name="roleId" class="custom-select" required>
                            {{#each roles}}
                                <option value="{{id}}" {{ selectedOption id ../Role.id }}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Sucursal</label>
                        <select name="workShopBranchId" class="custom-select" required>
                            {{#each branches}}
                                <option value="{{id}}" {{ selectedOption id ../WorkShopBranch.id }}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    {{> formButtons}}
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/validator.js"></script>